
.hero-section {
    height: 100vh;
   
}

.hero-container {
    display: flex;
    justify-content: center;
    
    

}

#main-heading{
    position:relative
    
}

#main-img{
    
    width: 350px;
    border-radius: 2000px;
    border: 1px solid black;
    margin-top: 40%;
    position: absolute;

    

}

.heroText {
    margin-top: 14%;
    margin-left: 10%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: #9773A4;
    background: -moz-linear-gradient(-45deg, #9773A4 0%, #2388CB 50%, #050E14 100%);
    background: -webkit-linear-gradient(-45deg, #9773A4 0%, #2388CB 50%, #050E14 100%);
    background: linear-gradient(135deg, #9773A4 0%, #2388CB 50%, #050E14 100%);
    color: #fff
}

a {
    color: white;
    text-decoration: none;
    gap: 10px;

}

li {
    list-style: none;
}

.header{
    border-bottom: 1px solid #E2E8F0; 
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #394454;
}

.nav-link:hover{
    color:#2388CB
}


@media only screen and (max-width: 768px) {

    #main-img{
        top: 10%;
    }

    .navbar{
        display: flex;
        flex-direction: row;
    }

    .nav-menu.active {
        left: 0;
    }


    .hamburger {
        display: block;
        cursor: pointer;
        
    }

}



@media only screen and (min-width: 769px) {
    #main-img{
        align-self: center;
    }

    #main-heading{
        font-size: 50px;
      
    }

    #about-me{
        font-size: 22px;
    }

    #main-description{
        font-size: 25px;
    }

    .navbar{
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }

    .stack-container{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    .certs{
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-box {
        font-size: 25px
    }

}

button{
    border-radius: 50px;
    color: #9773A4;
    box-shadow: 1px 1px 5px 2px aliceblue;
    background-color: #2388CB;
    color: blue;
}

#social-links{
    display: flex;
    justify-content: left;
    gap: 20px;
}

.contact-box {
    
    border: solid 2p
}