*{
    padding: none;
    margin: none;
}

nav{
    gap: 12px;
    display: flex;
    
}

.main{
    padding-top: 20%;
}

body{
    background: linear-gradient( to bottom, hotPink, purple, lightBlue);
}

.container {
   
    color: white;
    background-image: url(https://img.freepik.com/free-photo/medium-shot-man-wearing-vr-glasses_23-2149126949.jpg?w=900&t=st=1680330400~exp=1680331000~hmac=b4ef87f270886a59220c5599fc32006a795f889078eeb03e1a95ce282ee3c214) ;
    background-repeat: no-repeat;
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

h1{
    font-size: 40px;
}

.adv {
    font-size: 20px
}

button{
   border-radius: 5px;
   background-color: blueviolet;
}

a{
    text-decoration: none;
    color: aliceblue;
}

form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 60vw;
    padding-left: 15%;
  
}

.faq{
    display: flex;
    justify-content: center;
    
}
footer{
    display: flex;
    justify-content: center;
}